.search-box {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.search-box input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

.table th {
    background: #f1f5f9;
}

.table img {
    width: 60px;
    border-radius: 6px;
}

.action-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    margin-right: 6px;
    transition: 0.2s;
}

.btn-edit {
    background-color: #2563eb; /* biru */
}

.btn-edit:hover {
    background-color: #1d4ed8;
}

.btn-delete {
    background-color: #dc2626; /* merah */
}

.btn-delete:hover {
    background-color: #b91c1c;
}

/* ===== FORM GAME ===== */
.content {
    padding: 30px;
}

.form-card {
    background: #fff;
    max-width: 850px;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 6px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"] {
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.genre-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.genre-box label {
    font-size: 14px;
}

.preview-img {
    margin-top: 10px;
    max-width: 160px;
    border-radius: 8px;
    border: 1px solid #ddd;
    display: none;
}

.btn-primary {
    background: #2563eb;
    color: #fff;
    padding: 10px 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.btn-primary:hover {
    background: #1e40af;
}

/* ===== DASHBOARD ===== */
.dashboard-card {
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 10px;
    max-width: 650px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

.dashboard-card p {
    margin-bottom: 15px;
    font-size: 15px;
    color: #333;
}

.dashboard-actions {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.btn-add {
    background: #2563eb;
}

.btn-add:hover {
    background: #1e40af;
}

.btn-list {
    background: #29ff77;
}

.btn-list:hover {
    background: #15803d;
}
